#linha-horizontal {
    /* width: 150px; */
    /* margin-top: 15px; */
    margin-left: 10px;
    margin-right: 10px;
    /* margin-bottom: 15px; */
    border: 1px solid white;
}

.uninova-2023 {
    color: white;
    text-align: center;
    background: #008DD2;
    font-size: 12px;
    filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.4));
    /* border-bottom-right-radius: 7px; */
}

#linha-horizontal-bottom {
    /* margin-top: 15px;
    margin-bottom: 15px; */
    margin-left: 10px;
    margin-right: 10px;
    border: 1px solid white;
}

/* *********************** */
.sidebar-base {
    height: 100vh;
    background: #008DD2;
    color: white;
    text-align: center;
    font-size: 12px;
    filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.4));
}

.sidebar-header {
    padding-top: 5%;
}

.sidebar-middle {
    height: 60vh;
    align-content: center;
}

.sidebar-logo-text {
    color: white;
    margin-bottom: 0;
    padding-top: 4px;
}

.uninova-2023-text {
    width: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;
}

.sidebar-middle-text {
    font-size: 20px;
    font-weight: bold;
}

.stepstack-pos {
    align-items: end;
    display: flex;
    justify-content: center;
}