.start-style {
    height: 75vh;
    margin-top: calc(calc(100vh - 39px)*0.25);
}

.group-button{
    display: inline-flex;
}
.start-button-style{
    height: 150px;
    width: 300px;
    margin-right: 20px;
    margin-top: 14px;
}

.btn.start-button-style {
    --bs-btn-hover-border-color: #0027d2;
    --bs-btn-hover-color: white;
    --bs-btn-hover-bg: #0027d2;
    --bs-btn-font-weight: 600;
    box-shadow: 0px 8px 14px rgba(0, 0, 0, 0.3) !important;
}

.button-placement{
    float: right;
    align-items: center;
}

.text-right{
    text-align: right;
    padding-top: 8px
}

.box {
    display: flex;
    margin: 10px;
}

.box-item {
    align-items: center;
}

.col-conn-type {
    margin-left: 16.666667%;
}

.input-group-text-size {
    width: 100px;
}

