.profile-menu{
    /* text-align: right; */
    /* background: var(--bs-nav-tabs-link-active-border-color); */
    position: absolute !important;
    right: 0;
    /* margin-left: 74%; */
}
.user-menu{
    display: inline-flex;
}
.user-email{
    /* font-size: smaller; */
    margin-left: 7px;
    margin-right: 5px;
}
.user-logo{
    margin-top: 3px;
}
#dropdown-basic{
    color: #008DD2;
}

.btn-check:checked + .btn, :not(.btn-check) + .btn:active, .btn:first-child:active, .btn.active, .btn.show {
    border-color: transparent !important;
}
.dropdown-toggle::after {
    vertical-align: 0.5em !important;
}
.dropdown-item{
    color: #008DD2;
}

.icon-menu-profile{
    margin-bottom: 3px;
}
.icon-profile{
    margin-right: 5px;
}